.header{
    height: 100vh;
    background-color: $color-off-white;
    position: relative;

    &__textbox{
        position: absolute;
        left: 19.2rem;
        top: $margin-main-left;
    }

    
}