.header{
    height: 100vh;
    background-color: $color-off-white;
    position: relative;

    &__textbox{
        position: absolute;
        left: $margin-main-side;
        top: 15rem;
    }

    &__navbox{
        position: absolute;
        right: $margin-main-side;
        top: 4rem;

    }

    &__paragraph{
        font-size: 2.4rem;
        width: 52.8rem;
        font-weight: 500;
        margin: 5.5rem 0 0 0;
    }

    &__social-media{
        margin: 30rem 0 0;
    }

    &__portrait{
        position: absolute;
        right: 28.6rem;
        top: 15rem;
    }
    
}

.heading-primary{
    
    &--main{
        margin: 0;
        padding: 0;
    }

    &--sub{
        margin: 0 0 1rem;
        padding: 0;
    }
}

