.btn{

    &:link,
    &:visited {
        text-decoration: none;
        display: inline-block;
    }
}

.nav-button{
    color: $color-black;
    margin: 0 5.5rem;
}

.email-button{
    color: $color-black;
    font-weight: 600;
}