body {
    font-family: "Be Vietnam", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    letter-spacing: -1.2px;
}

.header{
    &__logo {
        color: $color-black;
        font-size: 4.4rem;

    }
}

.heading-primary{
    margin: 0;
    padding: 0;
    line-height: 1;
    
    &--main{
        display: block;
        font-size: 7.2rem;
        font-weight: 800;
        margin: 0;
        padding: 0;
    }

    &--sub{
        display: block;
        font-size: 3.2rem;
        font-weight: 700;
        margin: 0;
        padding: 0;
    }

    &__yellow{
        color: $color-yellow;
    }
}

.header__navbox{
    font-size: 1.6rem;
    font-weight: 600;

    &.about-button{
        color: $color-black;
    }
    
}